body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.logo{
    width: 100px;
    margin: 20px;
}
#crtcnt{
    height: 340px;
    overflow: scroll;
    border: solid 1px purple;
}
.Header {
    display: flex;
    justify-content: space-between;
    background-color: purple;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.Heading {
    font-size: 26px;
    
    font-weight: 700;
    color: white;
    padding-left: 10px;
}
.Action {
    font-size: 14px;
    
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #E44C4C;
    padding: 10px;
    background-color: #f44336;
    border-top-right-radius: 10px;
    margin: 0;
}
.fa-clock-o {
    color: #E44C4C;
    font-size: 16px;
}
.Action button{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    border: none;
    background: transparent;
}
.subtitle {
    line-height: 10px;
    font-size: 12px;
    
    font-weight: 600;
    color: #909090;
}
.amount {
    font-size: 20px;
    
    font-weight: 800;
    color: #202020;
}
.form-control{
    position: relative;
    left: -60px;
    border: solid 1px orange !important;
    bottom: 5px;
}
.Cart-Items {
    margin: auto;
    width: 90%;
    height: 105px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: solid 1px #cfcfcf;
    background: beige;
    padding: 0px 15px;
    border-radius: 8px;
}
.title {
    line-height: 15px;
    font-size: 14px;
    
    font-weight: 800;
    color: #202020;
    width: 150px;
}
.ux {
    color: white;
    text-decoration: none;
    padding: 6px 20px;
    position: relative;
    left: -135%;
    top: 33px;
    border-radius: 5px;
    border: solid 1px #E44C4C;
}
.fa-trash {
    padding-left: 5px;
    padding-right: 5px;
    color: #ff9c9c;
}
.rmv{
    position: relative;
    top: -40px; 
    padding: 5px;
    box-shadow: 0px 0px 2px 1px #ff9c9c;
    border: none;
    background: transparent;
}
.save {
    font-size: 14px;
    
    font-weight: bolder;
    color: #005faa;
    cursor: pointer;
}
.prices {
    height: 100%;
    text-align: right;
    width: 100%;
    position: relative;
}
.about {
    height: 100%;
    width: 44%;
    text-align: left;
    margin-top: 8px;
}
.Subtotal {
    font-size: 22px;
    font-weight: 700;
    color: #202020;
}
.total-amount {
    font-size: 26px;
    font-weight: 900;
    color: #202020;
}
label {
    display: inline-block;
    color: purple;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.total {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#btnchk{
    background: linear-gradient(to bottom right, #8113fd, #3e016b);
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    border-radius: 0px;
    padding: 12px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #fbfbfb;
    padding: 5px 21px;
    height: 50px;
    border: none;
}
.dvstv,.dvsfh{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.items {
    font-size: 16px;
    font-weight: 500;
    color: #909090;
    line-height: 10px;
    float: left;
}

@media only screen and (max-width: 600px) {
    #total{
        margin-top: 80px;
        margin-bottom: 80px;
    }
  }

/*date and time slot booking page*/


.close {
    color: #aaaaaa;
    float: right !important;
    font-size: 28px;
    font-weight: bold;
}
.code-img{
    filter: grayscale(100%);
}
select {
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: purple;
    background-image: none;
    cursor: pointer;
    width: 80%;
    margin: 10px 0px !important;
}
.button {
    background: linear-gradient(to bottom right, #8113fd, #3e016b);
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    border-radius: 0px;
    padding: 12px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #fbfbfb;
    padding: 5px 21px;
    height: 50px;
    border: none;
}

/*confirm booking page*/

.total1{
    display:block; 
    width:95%; 
    margin:auto; 
    color:#ad0094; 
    font-size:12px; 
    margin-top:5px; 
    font-weight:bold; 
    text-align:center;
}
.ttlamt{
    display:block; 
    width:95%; 
    margin:auto; 
    color:#ad0094; 
    font-size:24px; 
    margin-top:5px; 
    text-align:center; 
    font-weight:bold;
}
label{
    width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
